<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/heph/workspace/IdeaProjects/JumiaWebTest/src/test/java/JumiaWebTest">
        <classes>
            <class name="JumiaWebTest.JumiaWebSignUpTest">
                <methods>
                    <include name="signup"/>
                    <include name="logOutSuccessfully"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>